* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;  
    overflow: hidden; 
}

.mainContainer1 {
    width: 25%;
    height: 100%;
    border: 1px black solid;
    background: url(pictures/PhotobyJLeeonUnsplash.jpg) 5% -5%;
    background-size: 105% 71.5%;
    
   
}

.mainContainer2 {
    width: 63%;
    height: 100%;
    border: 1px black solid;
    background-color: rgba(0, 0, 0, 0.7)
    
}

.blackSideBars {
    width: 7%;
}

.logoContainer {
    width: 100%;
    height: 15%;
    border: black solid 1px;
    position: relative ;
    top: 70%; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 4rem;
    font-family: 'Whisper', cursive;

}


.p1 { 
    width: 90%;
    height: 40%;
    position: relative;
    top: 20%;
    left: 5%;
    font-size: 1.5rem;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    color: aliceblue;
    
}


.p2 {
     
    height: 30%;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    padding-left: 5%;
    background-color: #E5E7EB;

    
}

.p3 {
    border: 1px black solid; 
    height: 30%;
    color: aliceblue;
    

}

img {
    width: 120px;
    height: 130px;
}

.underline {
    text-decoration: underline;
    
}


.credit {
    color: gray;
    position: relative;
    top: -15%;
    left: 25%;
    
}


.p1span {
    line-height: 500%;

}

label,
input {
    border: 1px black solid;
    position: relative;
    left: 5%;
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

label {
    border: none;
    
}


input {
    border: 1px solid #E5E7EB ;
    border-radius: 10px;
    
}


form {
    display: flex;
    justify-content: space-around;
    border: 1px black solid;
}


.p2 > form > div > div {
    line-height: 2;
    border: 1px black solid;
    
}



input:invalid {
    border-color: red;
}

.errorMessage {
    line-height: 1;
    color: red;
    border: 1px black solid;

}


.passwordContainer {
    margin-left: 15%;
}

