* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    display: flex;  
    overflow: hidden; 
}

.mainContainer1 {
    width: 25%;
    height: 100%;
    border: 1px black solid;
    background: url(pictures/PhotobyJLeeonUnsplash.jpg) 5% -5%;
    background-size: 105% 71.5%;
    
   
}

.mainContainer2 {
    width: 63%;
    height: 100%;
    border: 1px black solid;
    
}

.blackSideBars {
    width: 7%;
}

.logoContainer {
    width: 100%;
    height: 15%;
    border: black solid 1px;
    position: relative ;
    top: 70%; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-size: 4rem;
    font-family: 'Whisper', cursive;

}


.p1 { 
    width: 90%;
    height: 40%;
    position: relative;
    top: 20%;
    left: 5%;
    font-size: 1.5rem;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    



}


.p2 {
    border: 1px black solid; 
    height: 30%;
}

.p3 {
    border: 1px black solid; 
    height: 30%;

}

img {
    width: 120px;
    height: 130px;
}

.underline {
    text-decoration: underline;
    
}


.credit {
    color: gray;
    position: relative;
    top: -15%;
    left: 25%;
    
}


.p1span {
    line-height: 500%;

}