:root {
    --maincontainer1-width: 25%;
    --maincontainer1-height: 100%;
    --maincontainer2-width: 63%;
    --maincontainer2-height:100%;
    --blackSideBars-width: 7%;
    --blackSideBars-height: 100%;
    --logoContainer-width: 100%;
    --logoContainer-height: 15%;
    --image-size: 15%;
    
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;  
    overflow: hidden; 
}

.mainContainer1 {
    width: max(50px,　30wh );
    height: 100%;
    /* border: 1px black solid; */
    background: url(pictures/PhotobyJLeeonUnsplash.jpg) 5% -5%;
    background-size: 105% 71.5%;
    font-size: 1rem;
   
}

.mainContainer2 {
    width: max(63%, 70vh);
    height: 100%;
    /* border: 1px black solid; */
    background-color: rgba(0, 0, 0, 0.7)
    
}

.blackSideBars {
    width: max(7%, calc((100vw - (var(--maincontainer2-width) + var(--maincontainer1-width)))/2));
}

.logoContainer {
    width: max(100%, 100vw - (var(--maincontainer2-width) + var(--blackSideBars-width*2 )));
    height: 15%;
    border: black solid 1px;
    position: relative ;
    top: 70%; 
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Whisper', cursive;
    

}

.odinText {
    font-size: 4em;
}


.p1 { 
    width: 90%;
    height: 40%;
    position: relative;
    top: 20%;
    left: 5%;
    font-size: 1.5rem;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    font-size: clamp(0.5rem, 1.5rem, 2rem)
    
}


.p2 {
     
    height: 30%;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    /* border: 1px black solid; */
    padding-left: 5%;
    background-color: #E5E7EB;

    
}

.p3 {
    /* border: 1px black solid;  */
    height: 30%;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    

}

img {
    width: max(120px, 15%);
    height: 80%;
}

.underline {
    text-decoration: underline;
    
}


.credit {
    color: gray;
    position: relative;
    top: -15%;
    left: 25%;
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
    font-size: 80%;
    
}


.p1span {
    line-height: 500%;

}

label,
input {
    /* border: 1px black solid; */
    position: relative;
    left: 5%;
    font-family: inherit;
    font-size: 100%;
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

label {
    border: none;
    
}


input {
    border: 1px solid #E5E7EB ;
    border-radius: 10px;
    
}


form {
    display: flex;
    justify-content: space-around;
    /* border: 1px black solid; */
}


.p2 > form > div > div {
    line-height: 2;
    /* border: 1px black solid; */
    
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border: 2px solid greenyellow;

}



input:invalid {
    border-color: red;
}

.errorMessage {
    line-height: 1;
    color: red;
    /* border: 1px black solid; */

}


.passwordContainer {
    margin-left: 15%;
}

#btn {
    font-family: 'Ephesis', cursive;
    font-family: 'Whisper', cursive;
}


h1 {
    font-size: 2rem;
    font-weight: normal;
}